/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #535353;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* Body styles */
body {
  background-color: #000000;
}

/* Navigation styles */
.nav-container {
  width: 100%;
  height: 3.125em;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  color: #fff;
  z-index: 4;
}

.nav-logo {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.vertical-line {
  width: 1px;
  height: 25px;
  background-color: #848484;
  margin-left: 20px;
}

.nav-logo > button {
  background-image: url(https://images.slivcdn.com/UI_icons/smart_hook/rectangleCopy_smart_Hook_Background.png?w=110&q=high),
    linear-gradient(131deg, rgb(72, 85, 99) 0.03%, rgb(41, 50, 60) 0.99%);
  background-size: cover;
  color: rgb(245, 246, 247);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  height: 25px;
  border: none;
  font-size: 12px;
  padding: 10px 5px;
  cursor: pointer;
}

.header_logo {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.right-arrow {
  width: 20px;
}

.nav-menu {
  display: flex;
}

.nav-menu > ul {
  display: flex;
  list-style: none;
  cursor: pointer;
}

.nav-menu > ul > li {
  padding: 9.66px 18.2px;
  font-size: 0.79rem;
  color: #aeaeae;
  position: relative;
}

.nav-menu > ul > li:hover {
  color: #fff;
}

.nav-menu > ul > li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10%;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.nav-menu > ul > li:hover::after {
  background-color: #fff; /* Change background color on hover */
}

.nav-profile {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  width: 20%;
  z-index: 1;
}

.search-icon {
  padding: 0.875em 2.5em 1.875em 0.625em;
  cursor: pointer;
}

.avatar {
  height: 30px;
  padding-top: 2px;
  border-radius: 2.1px;
  margin-top: 0.6875em;
  margin-right: 3.125em;
  cursor: pointer;
}

/* Hero section */
.container {
  width: 100%;
  height: 100vh;
  margin-bottom: 60px;
  position: relative; /* Added position relative */
}

.carousel {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
}

.masthead-gradient {
  position: absolute;
  width: 100%;
  height: calc(40.625% - 39px);
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 43.23%,
    rgba(0, 0, 0, 0.8) 65.63%,
    #000 100%
  );
  z-index: 1;
  bottom: -1px;
}

.slide {
  width: 100%;
  height: 100vh;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: none;
}

.slide.active {
  display: block;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-details {
  position: absolute;
  top: 35%;
  left: 10%;
  color: #fff;
  z-index: 2;
}

.movie-details h1 {
  margin-bottom: 20px;
  font-size: 4rem;
  font-weight: 900;
}

.movie-details h3 {
  width: 50%;
  text-align: justify;
}

.movie-details ul {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.movie-details ul li {
  margin-right: 40px;
  font-weight: 700;
}

.genre {
  display: flex;
  margin-left: 20px;
  margin-top: 60px;
}

/* Slick Dots Styles */
.slick-dots {
  position: absolute;
  bottom: 12%;
  right: 8%;
}

.slick-dots ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.dot {
  width: 30px;
  height: 5px;
  border-radius: 10px;
  background-color: #fff; /* Inactive dot color */
  margin: 0 5px;
  cursor: pointer;
}

.dot.slick-active {
  background-color: rgb(255, 252, 252); /* Active dot color */
}

/* Slide buttons and hero section content styles */
.slide-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  padding: 0 20px;
}

.slide-btns > button {
  background-color: #000;
  border: none;
  border-radius: 50%;
  padding: 8px 10px;
  cursor: pointer;
  transition: 0.5s;
}

.slide-btns > button:active {
  transform: scale(0.8);
}

.hero-section-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: absolute;
  top: 80%;
  left: 10%;
  z-index: 2;
}

.movie-details-btn {
  display: flex;
  gap: 25px;
}

.movie-details-btn > button > img {
  font-size: 10px;
  width: 30px;
  height: 30px;
}

.add-list,
.share-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #fff;
  border: none;
}

.play-btn {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 35px;
}

/* movie-cards */
.card-container {
  margin-bottom: 44px;
  padding-left: 90px;
  padding-top: 16px;
  padding-bottom: 16px;
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card-previous-btn {
  width: 90px;
  position: relative;
  margin-right: 30px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
  z-index: 2;
}

.card-container > h3 {
  color: #fff;
  padding: 20px 0 20px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.content {
  display: inline-block;
  white-space: nowrap;
  position: relative;
}
.card {
  display: inline-block;
  border-radius: 40px;
  height: 270px;
  margin-right: 15px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s;
}

.card img:hover {
  transform: scale(1.15);
}

.card-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.card-btn > button {
  width: 100px;
  height: 270px;
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
  position: absolute;
  top: 0;
}

/* video container */

.featuring-container {
  width: 100% !important;
  height: calc(100vw * 0.17569);
  position: relative;
  border-radius: 0.625em;

  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-top: 0%;
  margin-bottom: 44px;
}

.video-container {
  display: block;
  opacity: 1.08347;
  position: absolute;
  left: 3%;
  height: 100%;
  width: calc(76.263vw * 0.4099);
}

.trailer-video {
  height: 100%;
  width: calc(76.263vw * 0.4099);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
}

.poster-container img {
  height: 100%;
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
