* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
}

/* Track */
::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
  background: #333; /* color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #535353; /* color of the handle */
  border-radius: 5px; /* roundness of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; /* color of the handle on hover */
}

body {
  background-color: #0d0d0d;
}

.nav-container {
  width: 100%;
  height: 3.125em;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  color: #fff;
  z-index: 4;
}

.nav-logo {
  color: #fff;
  display: flex;
  align-items: center;
  margin: 0 0 0 40px;
}

.vertical-line {
  width: 1px;
  height: 25px;
  background-color: #848484;
  margin: 0 0 0 20px;
}

.nav-logo > button {
  background-image: url(https://images.slivcdn.com/UI_icons/smart_hook/rectangleCopy_smart_Hook_Background.png?w=110&q=high),
    linear-gradient(131deg, rgb(72, 85, 99) 0.03%, rgb(41, 50, 60) 0.99%);
  background-size: cover;
  color: rgb(245, 246, 247);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  height: 25px;
  border: none;
  font-size: 12px;
  padding: 10px 5px;
  cursor: pointer;
}

.header_logo {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.right-arrow {
  width: 20px;
}

.nav-menu {
  display: flex;
}

.nav-menu > ul {
  display: flex;
  list-style: none;
  cursor: pointer;
}

.nav-menu > ul > li {
  padding: 9.66px 18.2px;
  font-size: 0.9rem;
  color: #aeaeae;
}

.nav-profile {
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  width: 20%;
  z-index: 1;
}

.search-icon {
  padding: 0.875em 2.5em 1.875em 0.625em;
  cursor: pointer;
}

.avatar {
  height: 30px;
  padding-top: 2px;
  border-radius: 2.1px;
  margin-top: 0.6875em;
  margin-right: 3.125em;
  cursor: pointer;
}

/* hero section */
.container {
  width: 100%;
  height: 100vh;
}

.carousel {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.slide {
  display: inline-block;
  width: 100%; /* Set width of each slide */
  /* height: 95vh; */
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
}

/* Show the active slide */
.slide.active {
  display: block;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.message {
  width: 60px;
  padding: 20px 20px 0 20px;
}

.slide h2 {
  text-align: center; /* Center heading */
}

.slide p {
  text-align: justify; /* Justify text */
  margin-top: 10px; /* Add margin above paragraph */
  white-space: normal;
}

.slide .user {
  display: flex;
  justify-content: flex-end;
}

.slide-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  padding: 0 20px;
}

.slide-btns > button {
  background-color: #000;
  border: none;
  border-radius: 50%;
  padding: 8px 10px;
  cursor: pointer;
  transition: 0.5s;
}

.slide-btns > button:active {
  transform: scale(0.8);
}

.hero-section-content {
  display: flex;
  gap: 25px;
  position: absolute;
  top: 80%;
  left: 10%;
}

.hero-section-content > button > img {
  font-size: 10px;
  width: 30px;
  height: 30px;
}

.play-btn {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 35px;
}

.share-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #fff;
  border: none;
}
.add-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #fff;
  border: none;
}

/* movie-cards */
.card-container {
  margin-bottom: 44px;
  padding-left: 90px;
  padding-top: 16px;
  padding-bottom: 16px;
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card-previous-btn {
  width: 90px;
  position: relative;
  margin-right: 30px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
  z-index: 2;
}

.card-container > h3 {
  color: #fff;
  padding: 20px 0 20px 10px;
}

.content {
  display: inline-block;
  white-space: nowrap;
  position: relative;
}
.card {
  display: inline-block;
  border-radius: 40px;
  height: 300px;
  margin-right: 15px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s;
}

.card img:hover {
  transform: scale(1.15);
}

.card-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.card-btn > button {
  width: 100px;
  height: 270px;
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
  position: absolute;
  top: 0;
}
