* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
}

:root {
  --primary-text-color: #fff;
  --primary-color: #2563eb;
  --secondary-text-color: #000;
  --bg-color: #000;
}

body {
  background-color: #0b0b0b;
}

section {
  display: flex;
  justify-content: flex-end;
  margin: 20px 20px 0 0;
}

section span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  border: none;
  box-shadow: #477df2 1px 1px 30px 1px;
  /* box-shadow: inset #575757 0 0 0 2px; */
  background-color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

section span:hover {
  transform: scale(1.05);
}
section span:active {
  transform: scale(0.95);
}

section span img {
  width: 30px;
  height: 30px;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
}

.signup-headings h1 {
  font-size: 3rem;
  padding: 30px 0;
  color: var(--primary-text-color);
}

.signup-headings p {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 15px;
  color: #999;
}

.signup-social {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.signup-social button {
  background-color: #272832;
  color: var(--primary-text-color);
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  font-size: 1rem;
}

.signup-social button:hover {
  transform: scale(1.05);
}

.signup-social button:active {
  transform: scale(0.95);
}

.signup-social button img {
  width: 35px;
  height: 35px;
  padding-right: 10px;
}

.signup-input-field {
  padding: 30px 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-container label {
  color: var(--primary-text-color);
}

.input-container input {
  box-shadow: inset #575757 0 0 0 2px;
  border: 0;
  background: rgba(0, 0, 0, 0);
  appearance: none;
  width: 100%;
  position: relative;
  border-radius: 10px;
  padding: 25px 12px;
  line-height: 1.4;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  transition: all 0.2s ease;
  margin-top: 10px;
}

.input-container input:hover {
  box-shadow: 0 0 0 0 #fff inset, var(--primary-color) 0 0 0 2px;
  color: var(--primary-text-color);
}

.input-container input:hover:focus {
  outline: 0;
  box-shadow: 0 0 0 0 #fff inset, var(--primary-color) 0 0 0 3px;
  color: var(--primary-text-color);
}

.input-container input:hover:focus:active {
  box-shadow: 0 0 0 0 #fff inset, var(--primary-color) 0 0 0 3px;
  color: var(--primary-text-color);
}

.input-container .error-message {
  color: red;
  width: 400px;
  text-align: justify;
  margin-top: 10px;
}

.add-msg {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px 0 20px 0;
}

.success-msg {
  background-color: springgreen;
  border-radius: 10px;
  font-size: 1rem;
  color: var(--primary-text-color);
  font-weight: 550;
  padding: 10px 0;
  width: 200px;
}

.input-field-btn {
  display: flex;
  justify-content: center;
}

.input-field-btn button {
  padding: 12px 40px;
  border-radius: 12px;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  border: 0;
  font-size: 1.2rem;
  transition: 0.4s;
}

.input-field-btn button:hover {
  transform: scale(1.05);
}

.input-field-btn button:active {
  transform: scale(0.95);
}

.login-msg {
  display: flex;
  justify-content: center;
  color: #999;
  margin-bottom: 20px;
}

.login-msg span {
  cursor: pointer;
  color: var(--primary-color);
  padding-left: 4px;
}

.login-msg span:hover {
  text-decoration: underline;
}

.copyrights {
  width: 400px;
  color: #999;
  text-align: center;
  padding-bottom: 20px;
}
