*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Exo 2", sans-serif;
}

:root{
    --primary-text-color : #fff;
    --secondary-text-color : #000;
    --bg-color : #000;
}

body{
    background-color: #0b0b0b;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container{
    display: flex;
    flex-direction: column;
}

.signup-headings h1{
    font-size: 3rem;
    padding: 30px 0;
    color: var(--primary-text-color);
}

.signup-headings p{
    text-align: center;
    font-size: 1rem;
    padding-bottom: 15px;
    color: #999;
}

.signup-social{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.signup-social button{
    background-color: #272832;
    color: var(--primary-text-color);
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

.signup-social button:hover{
    transform: scale(1.05);
}

.signup-social button:active{
    transform: scale(0.95);
}

.signup-social button img{
    width: 35px;
    height: 35px;
    padding-right: 10px;
}

.signup-input-field{
    padding: 30px 0;
}


.input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-container label{
    color: var(--primary-text-color);
}

.input-container input{
    box-shadow: inset #575757 0 0 0 2px;
    border: 0;
    background: rgba(0, 0, 0, 0);
    appearance: none;
    width: 100%;
    position: relative;
    border-radius: 10px;
    padding: 25px 12px;
    line-height: 1.4;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    transition: all .2s ease;
    margin-top: 10px;
}

.input-container input:hover{    
        box-shadow: 0 0 0 0 #fff inset, #2563EB 0 0 0 2px;
        /* background-color: var(--bg-color); */
        color: var(--primary-text-color);
    }
    
    .input-container input:hover:focus{
        /* background: #fff; */
        outline: 0;
        box-shadow: 0 0 0 0 #fff inset, #2563EB 0 0 0 3px;
        color: var(--primary-text-color);
    }
    
    .input-container input:hover:focus:active{
        box-shadow: 0 0 0 0 #fff inset, #2563EB 0 0 0 3px;
        /* background-color: var(--bg-color); */
        color: var(--primary-text-color);

}

.input-field-btn{
    display: flex;
    justify-content: center;
}

.signup-input-field button{
    padding: 12px 40px;
    border-radius: 12px;
    background-color: #2563EB;
    color: var(--primary-text-color);
    outline: 0;
    border: 0;
    font-size: 1.2rem;
    transition: .4s;
}

.signup-input-field button:hover{
    transform: scale(1.05);
}

.signup-input-field button:active{
    transform: scale(0.95);
}

.login-msg{
    display: flex;
    justify-content: center;
    color: #999;
}

.login-msg span:hover{
    text-decoration: underline;
}
