* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body {
    width: 60vw;
    height: 100%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mr{
    margin-bottom: 20px;
  }

  #result{
    margin: 0 auto;
  }

  .line {
    width: 60vw;
    height: 3px;
    background-color: black;
    margin: 5px 0 10px 0 ;
  }

  .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .name-detail{
    margin-bottom: 15px;
  }

  .personal-detail{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 60vw;
  }

  .summary-detail{
    text-align: justify;

  }
  .summary-detail p{
    line-height: 1.5em;

  }


  /* experience-section */

  .experience-container{
    display: flex;
    flex-direction: column;
  }

  .experience-container p{
    margin-top: 5px;
    line-height: 1.4rem;
    text-align: justify;
  }

  .job-role-duration{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dates{
    display: flex;
    gap: 5px;
  }

  /* project-section */

  .project-container{
    display: flex;
    flex-direction: column;
  }

  .project-container p{
    margin-top: 5px;
    line-height: 1.4rem;
    text-align: justify;
  }

  .project-role-duration{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .project-dates{
    display: flex;
    align-items: flex-start;
    gap: 5px;
  }

  /* skills-section */

  .skills-container{
    display: flex;
    flex-direction: column;
  }

  .skills-content ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
  }

  .skills-content ul li{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
  }

  /* education-section */

  .education-container{
    display: flex;
    flex-direction: column;
  }

  .education-info{
    display: flex;
    gap: 20px;
    margin-top: 5px;
  }

  /* certification-section */
  .certification-name{
    list-style:disc;
  }

  .certification-description{
    line-height: 1.4rem;
    margin-top: 5px;
  }

  /* declaration-section */
  .declaration-content{
    text-align: justify;
    margin-bottom: 40px;
  }

  .declaration-name{
    display: flex;
    justify-content: flex-end;
  }

  
