* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  /* margin: 0 auto; */
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  width: 60vw;
  height: 3px;
  background-color: black;
  margin: 0 20px 20px 20px;
}

.heading {
  padding: 30px 0 10px 0;
  margin: 0 0 0 20px;
}

.heading img {
  margin-right: 10px;
}

.title-heading {
  margin: 30px 0;
}

/* ---------------------------------------------------- */
.personal-info {
  display: flex;
  flex-direction: column;
  padding-top: 0 0 30px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  margin: 0 0 80px;
}

.basic-info {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 60vw;
  padding-bottom: 30px;
}

.material-textfield {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.label {
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: gray;
  padding: 0 1.1rem;
  margin: 0 0.1rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}


.input-field {
  font-size: 1rem;
  outline: none;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 1rem 1.4rem;
  /* color: gray; */
  transition: 0.1s ease-out;
}
.input-field:focus {
  border-color: #6200ee;
}
.input-field:focus + .label {
  color: #6200ee;
  top: 0;
  transform: translateY(-50%) scale(0.9);
}
.input-field:not(:placeholder-shown) + .label {
  top: 0;
  transform: translateY(-50%) scale(0.9);

}

/* summary section */

.summary-info {
  display: flex;
  flex-direction: column;
  padding-top: 0 0 30px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  margin: 0 0 80px;
}

.about-info {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 60vw;
  padding-bottom: 30px;
}

/* experience section */

.experience-info {
  display: flex;
  flex-direction: column;
  padding-top: 0 0 30px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  margin: 0 0 80px;
}

.experience-content {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 60vw;
  padding-bottom: 30px;
}

/* Education section  */

.education-info {
  display: flex;
  flex-direction: column;
  padding-top: 0 0 30px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  margin: 0 0 80px;
}

.qualification-info {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 60vw;
  padding-bottom: 30px;
}

/* Education section  */

.skills-info {
  display: flex;
  flex-direction: column;
  padding-top: 0 0 30px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  margin: 0 0 80px;
}

.skill-content {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 60vw;
  padding-bottom: 30px;
}


/* Certification section */

.certification-info {
  display: flex;
  flex-direction: column;
  padding-top: 0 0 30px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  margin: 0 0 80px;
}

.course-info {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 60vw;
  padding-bottom: 30px;
}

#description {
  font-size: 1rem;
  outline: none;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 1rem 1.4rem;
  /* color: gray; */
  transition: 0.1s ease-out;
}
#description:focus {
  border-color: #6200ee;
}
#description:focus + .label {
  color: #6200ee;
  top: 0;
  transform: translateY(-50%) scale(0.9);
}
#description:not(:placeholder-shown) + .label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
}


/* declaration-section */

.declaration-info {
  display: flex;
  flex-direction: column;
  padding-top: 0 0 30px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  margin: 0 0 80px;
}

.declaration-content {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 60vw;
  padding-bottom: 30px;
}

/* button */

.generate-btn {
  align-items: center;
  background-color: #1976d2;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s;
}

.generate-btn:hover {
  background-color: #0859aa;
  transform: scale(1.05);
}

.generate-btn:active {
  transform: scale(1);
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}


.btn {
  align-items: center;
  border: 2px solid #1976d2;
  border-radius: 20px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  display: flex;
  font-size: 1.1rem;
  font-weight: 550;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 120px;
  padding: 14px 20px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  transform: scale(1);
}

